.Nav {
  background-color: transparent;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.Nav a {
  text-decoration: none;
  color: black;
  padding: 20px;
  display: flex;
}
.Nav a:hover {
  color: royalblue;
  padding: 10px;
}

.dropbtn {
  font-family: "IBM Plex Mono", monospace;
  color: black;
  font-size: 22px;
  display: flex;
  position: relative;
  top: 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: royalblue;
  padding: 30px;
}
