<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="../../public/icon/icon.png" /> 
    <title>405 - TheHungryKitchen</title>
  </head>
  <body>
    <section>
      <h1>Email Already in Use</h1>
      <p>This email is already in use. Try again!</p>
      <a href="/">Return to Site</a>
    </section>
  </body>
</html>
