<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/public/logo.png" />
    <title>SignedUp - TheHungryKitchen</title>
  </head>
  <body>
    <section>
      <h1>Signed Up Successfully</h1>
      <p>
        You have successfully signed up to be notified of any updates to the
        website - We promise we don't spam.
      </p>
      <a href="/">Return to Site</a>
    </section>
  </body>
</html>
