body {
  background-color: whitesmoke;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: "Quicksand", sans-serif;
}

.navbar a:hover {
  color: #fcbf49;
  padding: 10px;
}

h1 {
  font-size: 50px;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  color: black;
}

.icons {
  position: relative;
  top: -30px;
  left: 655px;
  display: inline-block;
}

.searchbar {
  position: relative;
  top: -30px;
  left: 625px;
  width: 200px;
  height: 30px;
}

.searchimg {
  position: relative;
  top: -55px;
  left: 830px;
}

h2 {
  font-size: 50px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  color: black;
}

* {
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

img {
  position: relative;
  left: 375px;
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: 10px;
  align-items: center;
  display: flex;
  left: -5px;
  bottom: 20px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
  margin-left: 375px;
}

/* Position the "next button" to the right */
.next {
  right: 355px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 5%;
  text-align: center;
  margin-left: -10px;
  background-color: white;
  border-radius: 10px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: red;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 400px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  bottom: -50px;
  position: relative;
  left: 10px;
}

.active,
.dot:hover {
  background-color: black;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
.img1 {
  position: relative;
  top: -500px;
  left: 750px;
  margin: 0;
  padding: 0;
  display: inline-flex;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
